:root
{
    --vertF : #556B2F;
    --vertP : #8ACB3B;
    --vertS : #1F3D00;
    --beige : #F4F1DC;
    --gris : #495057;
}

@font-face
{
  font-family: 'Dastin';
  src : url('../fonts/Dastin.otf') format('opentype'),
        url('../fonts/Dastin.ttf') format('trutype'),
        url('../fonts/Dastin.woff') format('woff'),
        url('../fonts/Dastin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body
{
    background-color: var(--gris);
    font-family: 'Dastin';
}

.mainTitle
{
    color: var(--vertP) !important;
    font-size: 6rem !important;
}

.banner {
    position: relative;
    height: 1200px;
    width: 100%;
    background-image: url('/assets/img/banner.jpg');
    background-position: center center;
    background-size: cover;
}

.banner .overlay {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0,0,0,0.2); /* superpose un voile sombre */
}

.banner .content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
