:root
{
    --vertF : #556B2F;
    --vertP : #8ACB3B;
    --vertS : #1F3D00;
    --beige : #F4F1DC;
}

html, body
{
    background-color: var(--beige);
}

.banner {
    position: relative;
    height: 1200px;
    width: 100%;
    background-image: url('/assets/img/banner.jpg');
    background-position: center center;
    background-size: cover;
}

.banner .overlay {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0,0,0,0.2); /* superpose un voile sombre */
}

.banner .content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
